<div class="animate-bottom w-75" style="padding-left:30px;">
  <h2>Users</h2>

  <!-- Entry -->
  <form (ngSubmit)="postOrPut()">
    <!-- form-group separator -->
    <div style="display:flex; flex-direction: column;">
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Name' | translate}}" [(ngModel)]="entryDto.Name" name="Name" id="Name" />
        <button mat-button *ngIf="entryDto.Name" matSuffix mat-icon-button aria-label="Clear" (click)="entryDto.Name=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- form-group separator -->
    <div style="display:flex; flex-direction: column;">
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Last Name' | translate}}" [(ngModel)]="entryDto.LastName" name="LastName" id="LastName"
        />
        <button mat-button *ngIf="entryDto.LastName" matSuffix mat-icon-button aria-label="Clear" (click)="entryDto.LastName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- form-group separator -->
    <div style="display:flex; flex-direction: column;">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="{{'Choose' | translate}}" [(ngModel)]="entryDto.BirthDate" name="BirthDate" id="BirthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- form-group separator -->
    <div style="text-align: right;">
      <button type="submit" matTooltip="{{'Save' | translate}}" mat-raised-button color="primary">
        <i class="material-icons">save</i>
      </button>&nbsp;
      <button type="button" matTooltip="{{'Clear' | translate}}" mat-raised-button color="accent" (click)="resetEntry()">
        <i class="material-icons">refresh</i>
      </button>
    </div>
  </form>
  <!-- Entry -->
  <br>


  <!-- List -->
  <div class=”container”>
    <table class="table table-bordered table-sm m-0" matSort (matSortChange)="sortData($event)">
      <thead style="background-color:#b4cff1">
        <tr>
          <th>#</th>
          <th mat-sort-header="Name">{{'Name' | translate}}</th>
          <th mat-sort-header="LastName">{{'Last Name' | translate}}</th>
          <th mat-sort-header="BirthDate">{{'Birth Date' | translate}}</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dto of dtoList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ dto.Name }}</td>
          <td>{{ dto.LastName }}</td>
          <td>{{ dto.BirthDate | date: 'medium' }}</td>
          <td>
            <button type="button" matTooltip="{{'Edit Row' | translate}}" mat-mini-fab color="primary" (click)="get(dto)">
              <i class="material-icons">border_color</i>
            </button>
            &nbsp;
            <button type="button" matTooltip="{{'Delete Row' | translate}}" mat-mini-fab (click)="openDialog(dto)">
              <i class="material-icons">cancel</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- List -->
  <mat-paginator [length]="pagingDto.count"
    [pageSize]="pagingDto.pageSize"
    [pageSizeOptions]="[10, 15, 20, 50]"
    (page)="changePage($event)">
  </mat-paginator>
</div>
